* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #1a1a1a;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    overflow: hidden;
}

.app-sandbox {
    position: relative;
    height: 90vh;
    aspect-ratio: 9/16;
    background: #d983a4;
    overflow: hidden;
}

.membership-card-bg {
    width: 100%;
    height: auto;
    position: absolute;
    top: 15%;
    left: 0;
}

.checkout-btn {
    position: absolute;
    bottom: 8%;
    right: 5%;
    width: 30%;
    cursor: pointer;
    z-index: 50;
}

.modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.85);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 20px;
    width: 85%;
    max-width: 320px;
    text-align: center;
}

.upload-box {
    width: 150px;
    height: 200px;
    margin: 0 auto 15px;
    background: #f0f0f0;
    border: 2px dashed #ccc;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
}

.btn-main {
    background: #cb132d;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    width: 100%;
    font-weight: bold;
    margin-bottom: 8px;
    cursor: pointer;
}

.btn-sub {
    background: #eee;
    border: none;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
}

#cropper-container {
    width: 100%;
    height: 100%;
}
